{{ define "content" }}
<div class="container">
    <!--Title-->
    <h1 class="text-center">Login</h1>
    <br><br>

    <!--Error-->
    {{ if ne .error "" }}
        {{ if eq .error "InvalidInput" }}
            <div class="alert alert-danger" role="alert">入力に不備があります</div><br>
        {{ else if eq .error "WrongInput" }}
            <div class="alert alert-danger" role="alert">入力に誤りがあります</div><br>
        {{ else if eq .error "FraudSession" }}
            <div class="alert alert-danger" role="alert">不正なセッション</b></div>
        {{ else if eq .error "OverExpirationDate" }}
            <div class="alert alert-warning" role="alert">セッションの有効期限が切れました<br>ログインし直してください</b></div>
        {{ else if eq .error "NoLogin" }}
            <div class="alert alert-warning" role="alert">ログインが必要です</div>
        {{ else }}
            <div class="alert alert-danger" role="alert">不明なエラーが発生しました</div><br>
        {{ end }}
    {{ end }}

    <!--Login Form-->
    <form method="POST">
        <div class="form-group">
            <label for="userid">UserID</label>
            <input type="text" class="form-control" id="userid" name="userid" placeholder="UserID"><br>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"><br>
        </div>
        <button type="submit" class="btn btn-primary">login</button>
    </form>
</div>
{{ end }}